:root{
    --blue: #2196F3;
    --white: #FFFFFF;
    --black: #212121;
    --background-grey: #F5F4FA;
    --text-color: #757575;
    --icons-grey: #AFB1B8;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

body{
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: #757575;
    font-size: 14px;
    letter-spacing: 0.03em;
}
footer{
    background-color: #2F303A;
    display: flex;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Header */
.navigation__list{
    display: flex;
    gap: 50px;
}
.header{
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-contacts{
    display: flex;
    gap: 50px;
    text-align: center;
}
.header-container{
    display: flex;
    align-items: center;
}
.header-container__logo{
    color: black;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    margin-right: 93px;
}
.logo-web{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
}
.navigation{
    margin-right: auto;
}
.navigation__link{
    position: relative;
    color: #212121;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    padding-top: 10px;
    padding-bottom: 36px;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.navigation__link:hover, 
.navigation__link:focus{
    color: #2196F3;
}
.header-contacts__item{
    color: #757575;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.header-contacts__item:hover, 
.header-contacts__item:focus{
    color: #2196F3;
}
.header-contacts__icon{
    fill: #757575;
    margin-right: 10px;
}
.header-contacts__item:hover .header-contacts__icon{
    fill: #2196F3;
} 
.header-contacts__item:focus .header-contacts__icon{
    fill: #2196F3;
} 
/* Main index */
.banner{
    background-color: #2F303A;
    background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)), 
    url(../images/Img\ \(16\)\ \(1\).jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1600px;
}
.container-banner__title{
    color: #FFFFFF;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin: 0 auto;
}
.title{
    color: #212121;
}
.content{
    color: #757575;
}
.logo-footer{
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    display: block;
}
.logo-web-footer{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
}
.footer-list{
    margin-bottom: 9px;
}
.address{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    font-style: normal;
}
.address:focus,
.address:hover{
    color: #2196F3; 
}
.contacts-footer{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    font-style: normal;
}
.contacts-footer:hover,
.contacts-footer:focus{
    color: #2196F3;
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}
.button{
    cursor: pointer;
}
.banner button{
    display: block;
    background: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 4px;
    border: 0;
    padding: 10px 32px ;
    letter-spacing: 0.06em;
}
.advances{
    display: flex;
    gap: 30px;
}
.advances__title{  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.advances__content {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
}
.advances__list{
    width: 270px;
}
.advances__style{
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-working__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.container-working__img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container-working__list{
    display: flex;
    gap: 30px;
}
.container-working__item{
    position: relative;
}
.container-working__text{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 72px;
}
.container-team__list{
    display: flex;
    gap: 30px;
}
.container-team__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.team-content__name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.container-team{
    text-align: center;
      
}
.section-team{
    background-color:#F5F4FA ;
}
.team-content{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    max-width: 100%;
    height: auto;
}
.container-team__picture{
    display: block;
    max-width: 100%;
    height: auto;
}
.team-soc{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.team-soc__item{
    width: 44px;
    height: 44px;
}
.team-soc__link{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.team-soc__link:hover,
.team-soc__link:focus{
    background-color: #2196F3;
}
.team-soc__icon{
    fill: #AFB1B8;
}
.team-soc__link:hover .team-soc__icon {
    fill: #FFFFFF;
}
.team-soc__link:focus .team-soc__icon{
    fill: #FFFFFF;
}
.team-content__position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}
.button-filter{
    background: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border: none;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.button-filter:focus,
.button-filter:hover{
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.title-project{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.project-link{
    display: block;
    text-decoration: none;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.project-link:hover,
.project-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-link:hover .projects-top-text{
    transform: translateY(0);
}
.project-picture{
    display: block;
    max-width: 100%;
    height: auto;
}
.projects-top-text{
    position: absolute;
    top: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400; 
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    height: 100%;
    transform: translateY(100%);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.projects-top-wrap{
    position: relative;
    overflow: hidden;
}
.projects-list{
    flex-basis: calc((100% - 60px) / 3);
    
}
.current{
    color: #2196F3;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-working{
    padding-top: 0;
}
.container-filter{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}
.title-clients{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;   
}
.clients-list{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 0;
}
.clients-item{
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.clients-item:hover,
.clients-item:focus{
    border-color: #2196F3;
}
.clients-item:hover .clients-icon{
    fill: #2196F3;
}
.clients-item:focus .clients-icon{
    fill: #2196F3;
}
.clients-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clients-icon{
    fill: #AFB1B8;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.projects-item{
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container-projects{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.content-view{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
}
.container-contacts-footer{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
    display: flex; 
    align-items: baseline;
}
.icons-footer{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    display: block;
}
.footer-soc-item{
    width: 44px;
    height: 44px;
}
.footer-soc-list{
    display: flex;
    gap: 10px;
}
.footer-soc-icon{
    fill: #FFFFFF;
}
.footer-soc-link{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.footer-soc-link:hover,
.footer-soc-link:focus{
    background-color: #2196F3; 
}
.footer-transition{
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.container-footer-icon{
    margin-left: 70px;
}
.sign-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    display: block;
}
.sent-form{
    display: flex;
}
.input-footer{
    width: 358px;
    height: 50px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #FFFFFF;
}
.input-footer:focus{
    border-color: #2196F3;
}
.input-footer::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.button-sent{
    background-color: #2196F3;
    display: inline-flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0,03em;
    padding: 10px 28px;
    border: none;
    margin-left: 12px;
}
.button-sent-icon{
    fill: #FFFFFF;
    margin-left: 10px;

}
.container-footer-sign{
    margin-left: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 400ms linear, visibility 400ms linear;
  }
  .modal{
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
  }
  .modal-title{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
  }
  .modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    margin-bottom: 10px;
  }
  .modal-input:focus{
    border-color: #2196F3;
  }
  .modal-input:focus + .modal-icon{
    fill: #2196F3;
  }
  .input-wrapper{
    position: relative;
  }
  .modal-icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  .modal-label{
    width: 100%;
  }
  .label-title{
    margin-bottom: 4px;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
  }
  .button-modal{
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0,06em;
  }
  .modal-textarea{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: transparent;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    padding: 12px 16px;
    display: block;
  }
  .modal-textarea:focus{
    border-color: #2196F3;
  }
  
  .chekbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    flex-shrink: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    border-radius: 2px;
  }
  .chekbox-link{
    color: #2196F3;
  }
  
  .checkbox-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #000;
  }
  
  .check-icon {
    display: block;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
  
  .chekbox:checked + .checkbox-icon {
    background-color: #2196F3;
    border: 1px solid #2196F3;
  }
  
  .chekbox:checked + .checkbox-icon .check-icon {
    opacity: 1;
    fill: #fff;
  }
  
  .chekbox{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .label-checkbox{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .button-close-icon{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .button-close:focus .button-close-icon{
    fill: #2196F3;
  }
  .button-close:hover .button-close-icon{
    fill: #2196F3;
  }
  .button-close .button-close-icon{
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  .button-close{
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .address a{
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
  .underline::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
}
  