.menu-open{
    background-color: transparent;
    border: none;
    margin-left: auto;
    cursor: pointer;
    
    &:hover,
    &:focus{
        fill: #2196F3;
    }
    @media screen and (min-width: 768px){
        display: none;
    }
}
.mobile-menu {
position: absolute;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
right: 0px;
}
.menu-close {
}
.menu-nav-list {
}
.menu-nav-item {
}
.menu-nav-link {
}
.menu-contact {
}
.menu-contact__item {
}
.menu-contact__tel {
}
.menu-contact__mail {
}
.menu-links {
}
.menu-links__item {
}
.menu-links__link {
}