.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 400ms linear, visibility 400ms linear;
  }
  .modal{
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
  }
  .modal-title{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
  }
  .modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    margin-bottom: 10px;
    &:focus
    &:hover{
    border-color: #2196F3;
   }
  }
  .input-wrapper{
    position: relative;
  }
  .modal-icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:focus
    &:hover{
      fill: #2196F3;
    }
  }
  .modal-label{
    width: 100%;
  }
  .label-title{
    margin-bottom: 4px;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
  }
  .button-modal{
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0,06em;
  }
  .modal-textarea{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: transparent;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    padding: 12px 16px;
    display: block;
    &:focus
    &:hover{
    border-color: #2196F3;
   }
  }
  