.advances{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.advances__title{  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.advances__content {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
}
.advances__list{
    width: 100%;
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
        
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
        
    }
}
.advances__style{
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}