.banner{
    background-color: #2F303A;
    background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)), 
    url(../images/banner-mob\(2\).jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1600px;
    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)), 
    url(../images/banner-tab\(2\).jpg) ;
    }
    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)), 
    url(../images/banner-deks\(2\).jpg) ;

    }
}
.container-banner__title{
    color: #FFFFFF;
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.3636;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        width: 360px;
      }
   @media screen and (min-width: 1200px) {
       font-size: 44px;
       width: 696px;
   }
}
.banner button{
    display: block;
    background: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 4px;
    border: 0;
    padding: 10px 32px ;
    letter-spacing: 0.06em;
}