footer{
    background-color: #2F303A;
    display: flex;
}
.logo-footer{
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    display: block;
}
.logo-web-footer{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
}
.footer-list{
    margin-bottom: 9px;
}
.address{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    font-style: normal;
    &:focus,
    &:hover{
    color: #2196F3; 
   }
}

.contacts-footer{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    font-style: normal;
    &:hover,
    &:focus{
    color: #2196F3;
   }
}

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}
.button-filter{
    background: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border: none;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:focus,
    &:hover{
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   }
}

.container-contacts-footer{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
    display: flex; 
    align-items: baseline;
}
.icons-footer{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    display: block;
}
.footer-soc-item{
    width: 44px;
    height: 44px;
}
.footer-soc-list{
    display: flex;
    gap: 10px;
}
.footer-soc-icon{
    fill: #FFFFFF;
}
.footer-soc-link{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:hover,
    &:focus{
    background-color: #2196F3; 
   }
}

.footer-transition{
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.container-footer-icon{
    margin-left: 70px;
}
.sign-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    display: block;
}
.sent-form{
    display: flex;
}
.input-footer{
    width: 358px;
    height: 50px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #FFFFFF;
    &:focus,
    &:hover{
    border-color: #2196F3;
   }
}

.input-footer::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.button-sent{
    background-color: #2196F3;
    display: inline-flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0,03em;
    padding: 10px 28px;
    border: none;
    margin-left: 12px;
}
.button-sent-icon{
    fill: #FFFFFF;
    margin-left: 10px;

}
.container-footer-sign{
    margin-left: auto;
}
.address a{
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }